.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #616569;
  color: #fff;
}

.navbar-brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo {
  height: 40px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #000;
}
