<div *ngIf="product" class="product-form-container">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="product.name">
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" [(ngModel)]="product.price">
  </div>

  <div class="form-group">
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="product.imageUrl">
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="product.description"></textarea>
  </div>

  <button class="btn" (click)="updateProduct()">Update Product</button>
</div>

<div *ngIf="!product" class="error-message">
  <p>Error loading product details or product not found.</p>
</div>
