<div class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.imageUrl" alt="{{product.name}}" class="product-image" (click)="viewProductDetails(product.id)">
    <h2 class="product-name">{{product.name}}</h2>
    <p class="product-price">€{{product.price}}</p>
    <div class="button-group">
      <button class="edit-button" (click)="editProduct(product.id)">Edit</button>
      <button class="delete-button" (click)="deleteProduct(product.id)">Delete</button>
    </div>
  </div>
</div>
